html,
body,
#root,
.css-9im5hd {
  height: 100% !important;
  min-height: 100% !important;
  background-color: #191919;
}

* {
  font-family: "Poppins" !important;
}

.header {
  background-color: #0c0e0c;
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.header-user-info {
  margin-left: 2em;
  margin-right: 2em;
}

.header-logo-button,
.header-logo-button:focus {
  text-decoration: none;
  background: none;
  background-color: none;
  border: 0px white solid;
}
.layout {
  height: 100% !important;
  min-height: 100% !important;
}

.option-item:hover {
  transform: scale(1.2);
}

.welcome-heading {
  width: 100%;
  height: 25%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: self-end;
  color: white;
}

.options_container {
  height: 50%;
  min-height: 50%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  min-width: 85%;
  flex-direction: row;
  align-items: center;
  list-style: none;
  overflow-x: scroll;
  /* Hide scrollbar in Firefox */
  scrollbar-width: none;

  /* Hide scrollbar in IE and Edge */
  -ms-overflow-style: none;
}

/* Hide scrollbar in webkit */
.options_container::-webkit-scrollbar {
  display: none;
}

.option-item {
  flex-shrink: 0;
  width: 30%;
  min-width: 237px;
  height: 70%;
  min-height: 200px;
  background: rgba(255, 255, 255, 0.06);
  border: 2px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2%;
  margin-left: 2%;
  padding: 1%;
  color: white;
  text-align: center;
  border-radius: 10px;
  scroll-snap-align: center;
  position: relative;
}

.delete-file-button {
  width: 1%;
  height: 5%;
  border: 0px white;
}

.deleteMenu {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  border: 0px white;
}

.chat-header {
  height: 5%;
  min-height: 5%;
  width: 100%;
  min-width: 100%;
  padding-left: 12%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.chat-back-button {
  color: white;
  background: transparent;
  min-width: 137px;
  cursor: pointer !important;
}

.chat_container {
  padding: 1% 1% 1% 1%;
  padding-bottom: 2%;
  height: 95%;
  min-height: 95%;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  border: 0px blue solid;
  color: white;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 80%;
}

.chat_window {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

.login-error {
  color: red;
}

.login-or-signup {
  max-width: 40%;
  margin-top: 20%;
  text-align: center;
  align-items: center;
}

.sidebar {
  padding-top: 5%;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 5%;
}

#document-container-header {
  margin-bottom: 5%;
  padding-left: 2%;
  color: white;
}

#add-document-button,
#refresh-documents-button {
  float: right;
  margin-right: 3%;
}

.document-tile {
  margin-bottom: 5%;
  background-color: #0c0e0c;
}

.open-document-button {
  float: right;
}

.new-document-button {
  text-align: center;
  content: center;
  vertical-align: center;
}

.file-action-processing-spinner {
  margin-left: 2%;
}

.chat-model-logo {
  display: inline-block;
  max-height: 1em;
  object-fit: scale-down;
  padding-right: 1em;
}

.llm-chat-window {
  height: 100%;
  max-height: 100%;
  width: 80%;
  min-width: 80%;
  max-width: 100%;
  display: flex;
  margin: auto;
  align-items: flex-end;
}

.loading_container {
  position: relative;
  width: 100%;
  height: 70%;
  top: 0;
  left: 0;
  z-index: 99;
  background: transparent;
  justify-content: center;
  align-items: center;
}

.alert-error {
  width: 50%;
  max-width: 50%;
}

#llm-chat-messages {
  width: 100%;
  min-width: 100%;
  height: 90%;
  min-height: 90%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  flex-direction: column;
  border: 0px solid red;
  border-radius: 5px;
  padding: 1% 2%;
  padding-bottom: 20%;
  background-color: transparent;
  scroll-snap-align: center;

  /* Hide scrollbar in Firefox */
  scrollbar-width: none;

  /* Hide scrollbar in IE and Edge */
  -ms-overflow-style: none;
}

#llm-chat-messages::-webkit-scrollbar {
  display: none;
}

.chat-message {
  width: fit-content;
  max-width: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  height: auto;
  justify-items: stretch;
  flex-direction: column;
  padding-right: 1%;
  padding-left: 1%;
  align-content: center;
  scroll-snap-align: center;
}

.chat-message-ai {
  color: #444;
  min-height: 50px;
  margin-top: 1%;
  margin-bottom: 1%;
  border: 0px solid red;
  height: max-content;
  width: 100%;
  font-weight: 500;
  font-size: 1em;
}

.chat-message-self {
  color: white;
  min-height: 50px;
  margin-bottom: 2%;
  border: 0px solid red;
  height: max-content;
  width: 100%;
  font-weight: 500;
  font-size: 1em;
  padding-top: 0.75em;
}

#llm-chat-input-container {
  max-height: 6em;
  height: 6em;
  flex-direction: row;
  background-color: #0c0e0c;
  border-radius: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#llm-chat-input-text {
  width: 100%;
  max-width: 100%;
  height: 50%;
  resize: none;
  border: 0px solid black;
  outline: 0px;
  margin-top: 0.5%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #0c0e0c;
  color: #d5d5d5;
}

#llm-chat-button-container {
  color: lightgrey;
  width: 5%;
  border: 0px green solid;
  margin-right: 2.5%;
  justify-content: center;
  align-items: center;
}

#llm-chat-button {
  border: 1px #0c0e0c solid;
  color: grey;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 3.5em;
  height: 3.5em;
  background-color: #0c0e0c;
}
