html,
body,
#root,
.css-9im5hd {
  height: 100% !important;
  min-height: 100% !important;
}

.layout {
  height: 100% !important;
  min-height: 100% !important;
}

.file_drop_container,
.chat_container {
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  padding-left: 10%;
  padding-right: 10%;
  height: 100%;
  min-height: 100%;
  min-width: 100% !important;
  width: 100% !important;
}

.file_drop_area {
  align-content: center;
  height: 100%;
  min-height: 100%;
  min-width: 100% !important;
  width: 100% !important;
}

.login-error {
  color: red;
}

.login-or-signup {
  max-width: 40%;
  margin-top: 20%;
  text-align: center;
  align-items: center;
}

.sidebar {
  padding-top: 5%;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 5%;
}

#document-container-header {
  margin-bottom: 5%;
  padding-left: 2%;
}

#add-document-button,
#refresh-documents-button {
  float: right;
  margin-right: 3%;
}

.document-tile {
  margin-bottom: 5%;
}

.open-document-button {
  float: right;
}

.new-document-button {
  text-align: center;
  content: center;
  vertical-align: center;
}
